include ./layouts/header.jade

script.
  document.addEventListener('DOMContentLoaded', function(){
      Typed.new('.typewriter', {
        strings: ["Welcome to Howdy!", "A modern and secure messenger.", "Have fun!"],
        contentType: 'text',
        typeSpeed: 10,
        backSpeed: 10,
        backDelay: 2000,
        showCursor: true
      });
  });


div.container
  .jumbotron
    p.console
      span.typewriter
              
include ./layouts/footer.jade
