footer.navbar-fixed-bottom
  div.container-fluid
    div.row
      div.col-md-6.col-md-offset-3
        div.text-center &copy; 2017 - <script>var currentTime = new Date();document.write(currentTime.getFullYear())</script> Pascal Peinecke &amp; Darius Musiolik


  script(src="/js/lib/jquery.min.js")
  script(src="/js/lib/bootstrap.min.js")
